<!-- Ubuntu_Guru/templates/about.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5 about-us-section">
    <div class="row">
        <div class="col-lg-4 d-flex align-items-center order-lg-1">
            <img src="https://imgur.com/DttAay1.jpg" alt="Party Leader" class="img-fluid party-leader-img">
        </div>
        <div class="col-lg-8 order-lg-2">
            <h1>About Us</h1>
            <p class="lead">The Ubuntu National Party, guided by its motto "Liberate the Future," is a pivotal force in South African politics, with a substantial following of 1.5 million people. It champions core values of social justice, economic freedom, and sustainable development, aligning closely with the aspirations of South Africans and the global diaspora.</p>
            <p>The party's strategic goals focus on impactful legislative and social initiatives, advocating for inclusive growth, educational excellence, and healthcare accessibility. Locally, it emphasizes transparent governance, community engagement, and sustainable development, ensuring that solutions are community-driven and equitable.</p>
            <p>Internationally, it aims to strengthen ties with the South African diaspora, integrating their perspectives into national development plans and leveraging their potential as agents of change. The party also prioritizes innovative practices, particularly in engaging youth and utilizing technology to enhance democratic participation and governance.</p>
            <p class="lead">In conclusion, the Ubuntu National Party is committed to transforming the political landscape to reflect the collective aspirations of South Africans, encouraging widespread involvement to shape a prosperous, unified future.</p>
        </div>
    </div>
    <hr class="my-4">
    <h2 class="mb-3">UNP President - Ubuntu Guru</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <img src="https://imgur.com/too4X22.jpg" class="img-thumbnail" alt="Election 1994">
        </div>
        <div class="col-md-4 mb-3">
            <img src="https://imgur.com/eJput3k.jpg" class="img-thumbnail" alt="Election 1999">
        </div>
        <div class="col-md-4 mb-3">
            <img src="https://imgur.com/RtSXntZ.jpg" class="img-thumbnail" alt="Additional Image">
        </div>
    </div>
</div>
{% endblock %}

